body {
    background-color: #F8F8F8
}

.centerV {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

:focus {
	box-shadow: none !important;
	outline: none !important;
}

a:hover {
	color: transparent
}



.form-control {
    background-color: #e8f0fe
}

#username {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

#password {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#bt_signin:hover {
    background-color: #2d80d8
}