body {
	margin: 0px;
	background-color:#ffffff;
	height: 100vh
}

/* .divScreen {
	width: 400px;
	height: 550px;
	margin: 0 !important;
	padding: 0;
	background-color: #ffffff;
} */

.centerV {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

:focus {
	box-shadow: none !important;
	outline: none !important;
}

a:hover {
	color: transparent
}




.statusBar {
	height: 75px;
	background-color: #49d761;
	color: white;
	margin: 0;
}

.custom-select {
	background-color: transparent;
	border: none;
	padding: 0;
	color: #FFFFFF;
	width: 60%;
	height: 20px;
}

option {
	color: black;
}

select {
	background-color: transparent;
	border: none;
	padding: 0;
	margin-left: -4px;
	color: #FFFFFF;
	width: auto;
	height: 20px;
}

.extNum {
	font-size: 30px;
	font-weight: bold;
}




.functionBar {
	height: 55px;
	margin: 0;
	border-bottom: 1px solid #f4f4f3;
}

.groupButton {
	height: 28px;
	padding: 0;
}

.groupButton > .col {
	padding: 0
}

.groupButton img {
	height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer
}

input[type="text"] {
	background-color: #f2f2f2;
	font-size: 14px;
	border: none;
	border-radius: 20px;
	padding: 8px;
}
  
.searchPhone input[type="text"] {
	padding-left: 12px;
	padding-right: 25px;
}

::placeholder {
	color: #c8bfd0 !important
}
/* ---------------------------------------------------------- */
.form-control:focus  {
	background-color: #e9e9e9
}
/* ---------------------------------------------------------- */
.searchPhone button {
	position: absolute;
	padding: 0;
	right: 10px;
	height: 50%;
	color: #777777;
	background-color: transparent;
	border: none;
}







.leftnav {
	padding: 0;
	border-right: 1px solid #f4f4f3
}

a.nav-link p {
	margin-bottom: 0px;
	text-align: center;
	color: #6a6769;
	font-size: 10px;
}

a.nav-link {
	padding: 0
}

li.nav-item {
	margin-bottom: 10px
}

.nav-link > img {
	width: 33px;
	height: auto;
	display: block;
	margin: auto;
	margin-bottom: 2px
}




.table {
	margin-bottom: 0;
	border-collapse: collapse;
}

th, td {
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #f4f4f3 !important;
	/* padding-top: 7px !important;
	padding-bottom: 7px !important; */
	color: #6a6769 !important; 
	padding: 7px !important;
	margin: 0
}

th {
	background-color: #f8f9fa !important;
	border-bottom: none
}

.waitingCallTable th, td {
	font-size: 10px !important
}

.waitingCallTable td {
	border-top: none !important;
}

.waitingCallTable tbody {
	height: 120px;
	/* display:block */
}


.callStat {
	width:100%;
	position: absolute;
	bottom: 0px;
	color: #ffffff;
	font-size: 14px;
}

.callStat  p {
	margin: auto;
}
.borderCol {
	height: 100%;
	width: 100%;
	padding: 0 15px;
}




.marquee {
	color: #495057;
	overflow: hidden;
	font-size: 12px;
	margin: 5px 0;
}