body {
	margin: 0px !important;
	background-color: black
}

.divScreen {
	width: 400px;
	height: 550px;
	margin: 0 !important;
	padding: 0;
	background-color: #ffffff;
}

.centerV {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.centerH {
	margin-left: auto;
	margin-right: auto;
}

:focus {
	box-shadow: none !important;
	outline: none !important;
}

a:hover {
	color: transparent
}




.statusBar {
	height: 75px;
	background-color: #49d761;
	color: white;
	margin: 0;
}

.custom-select {
	background-color: transparent;
	border: none;
	padding: 0;
	color: #FFFFFF;
	width: 60%;
	height: 20px;
}

option {
	color: black;
}

select {
	background-color: transparent;
	border: none;
	padding: 0;
	margin-left: -4px;
	color: #FFFFFF;
	width: auto;
	height: 20px;
}

#extNum {
	font-size: 30px;
	font-weight: bold;
}




.functionBar {
	height: 55px;
	margin: 0;
	border-bottom: 1px solid #f4f4f3;
}

.groupButton {
	padding: 0
}

.groupButton > a {
	display: inline
}

.groupButton > a > img {
	height: 50%
}

input[type="text"] {
	background-color: #f2f2f2;
	font-size: 14px;
	border: none;
	border-radius: 20px;
	padding: 8px;
}
  
.searchPhone input[type="text"] {
	padding-left: 12px;
	padding-right: 25px;
}

::placeholder {
	color: #c8bfd0 !important
}
/* ---------------------------------------------------------- */
.form-control:focus  {
	background-color: #e9e9e9
}
/* ---------------------------------------------------------- */
.searchPhone button {
	position: absolute;
	padding: 0;
	right: 10px;
	height: 50%;
	color: #777777;
	background-color: transparent;
	border: none;
}






.leftnav {
	padding: 0;
	height: 420px;
	border-right: 1px solid #f4f4f3
}

a.nav-link p {
	margin-bottom: 0px;
	text-align: center;
	color: #6a6769;
	font-size: 10px;
}

a.nav-link {
	padding: 0
}

li.nav-item {
	margin-bottom: 15px
}

.nav-link > img {
	max-width: 80%;
	height:auto;
	display:block;
	margin:auto;
	margin-bottom: 2px
}




th, td {
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #f4f4f3 !important;
	padding-top: 7px !important;
	padding-bottom: 7px !important;
	color: #6a6769
}

th {
	background-color: #f8f9fa !important;
	border-bottom: none
}




.callStat {
	width:100%;
	position: absolute;
	bottom: 0px;
	color: #ffffff;
	font-size: 14px;
}

.callStat  p {
	margin: auto;
}
.borderCol {
	/* border: solid 1px #ffffff; */
	height: 100%;
	width: 100%;
	padding: 0 15px;
}











.marquee {
	width: 300px;
	overflow: hidden;
	border: 1px solid #ccc;
	background: #ccc;
 }