body {
	margin: 0px !important;
	background-color: black
}

.divScreen {
	width: 1300px;
	height: 700px;
	margin: 0 !important;
	padding: 0;
	background-color: #e9ebee;
}

.centerV {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.centerH {
	margin-left: auto;
	margin-right: auto;
}

.status {
    height: 85px;
	margin-right: 10px;
	padding: 0 15px
}

.statistic p {
	margin-bottom: 0
}

.silentBar {
	background-color: #ffffff;
	height: 45px;
	margin: 0 10px 10px 0;
	border: 1px solid #e6e7e9;
	color: #6a6769
}
.silentBar  button {
	height: 70%;
	background-color: transparent;
	border: none;
	padding: 0
}

.silentBar  button  img {
	height: 70%
}

.col-5th {
	float: left;
	width: 20%;
	color: #000;
	padding: 0 10px 10px 0
}
	
.card {
	border: 0
}

.cardHead {
	height: 35px;
	color: #fff;
	border:none;
	padding-left: 10px;
	padding-right: 10px
}

.cardHead p {
	margin: auto;
	font-size: 10px;
	font-weight: bold;
	display: inline;
}

.card {
	border-radius: 0;
}

.card-body {
	padding: 10px;
	color: #6a6769;
}

.card-body > div > div > div > div> div > p, .card-body > div > div> div > p {
	font-size: 10px;
	margin-bottom: 0
}

.callStat {
	padding-left: 10px;
	padding-right: 10px
}

.callStat > .col, .callStat > .col-4 {
	margin-right: 3px;
	padding: 5px;
	border: 1px solid #d4dff5;
	font-size: 10px;
	height: 100%;
	width: 100%;
	border-radius: 5px;
	text-align: center
}

.tableName {
	height: 28px;
	background-color: white;
	font-size: 12px;
	color: #6a6769;
	border: 1px solid #e6e7e9;
	padding: 7px !important;
	border-bottom: none;
	margin-bottom: 0
}

.table {
	border: 1px solid #e6e7e9;
	margin-bottom: 10px
}

th, td {
	font-size: 10px;
	color: #6a6769;
	text-align: center;
	border: none !important;
	padding: 7px !important;
}

thead {
	background-color: #ffffff !important;
}

th {
	padding-bottom: 0 !important
}

td {
	height: 28px;
}

.table-striped > tbody > tr:nth-child(odd) > td {
	background-color: #ffffff;
}

.table-striped > tbody>tr:nth-child(even) > td {
	background-color: #f2f2f2;
}



.fixed_header{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

.fixed_header tbody{
	display:block;
	width: 100%;
	overflow: auto;
}

#b_agentQueue {
	max-height: 84px;
}

.fixed_header thead tr {
   display: block;
}

.fixed_header th, .fixed_header td {
  width: 200px;
}